## Author: Miguel Meireles
## Date: 3/26/2020
## CS301-006, Professor Watson
## HW06 Solution

The purpose of this assignment is to help students practice using Python to prepare their data sets for machine learning.

link to the git repo:

In [131]:
import pandas as pd
import numpy as np

#### Question 1 - Read in the data set and print the % empty values for each column. Are there any columns with missing values?

In [132]:
data_df=pd.read_csv('C:\\Users\\Meire\\Documents\\College\\4th year\\CS301\\groundhog.csv', index_col=0)

In [133]:
def get_percent_nans(df):
    for col in df.columns:  
        specific = df[col]
        whole=len(df)
        nan_len=(len(df.loc[(specific.isna())]))
        percentage= (nan_len/whole)*100
        print('The {} column has {:.2f}% empty values'.format(col,percentage))

In [134]:
get_percent_nans(data_df)

The Year column has 0.00% empty values
The Punxsutawney Phil column has 0.00% empty values
The February Average Temperature column has 6.87% empty values
The February Average Temperature (Northeast) column has 6.87% empty values
The February Average Temperature (Midwest) column has 6.87% empty values
The February Average Temperature (Pennsylvania) column has 6.87% empty values
The March Average Temperature column has 6.87% empty values
The March Average Temperature (Northeast) column has 6.87% empty values
The March Average Temperature (Midwest) column has 6.87% empty values
The March Average Temperature (Pennsylvania) column has 6.87% empty values

In this table there are a couple of columns with missing values. As you can see there are the same percentage of missing in all the Average Temperature columns which happens because the first 8 years on record from 1886 to 1894 are empty for all Temperature columns.

#### Question 2 - Create a new dataframe which is a copy of the orginal one. In this copy, replace the missing values in the data set using one of the discussed methods in class.

In [135]:
mean=data_df.mean()
new_df=data_df.fillna(mean)
new_df

,Year,Punxsutawney Phil,February Average Temperature,February Average Temperature (Northeast),February Average Temperature (Midwest),February Average Temperature (Pennsylvania),March Average Temperature,March Average Temperature (Northeast),March Average Temperature (Midwest),March Average Temperature (Pennsylvania)
0,1886,No Record,33.802705,22.693443,32.694262,26.522951,41.699016,32.368033,42.568852,35.908197
1,1887,Full Shadow,33.802705,22.693443,32.694262,26.522951,41.699016,32.368033,42.568852,35.908197
2,1888,Full Shadow,33.802705,22.693443,32.694262,26.522951,41.699016,32.368033,42.568852,35.908197
3,1889,No Record,33.802705,22.693443,32.694262,26.522951,41.699016,32.368033,42.568852,35.908197
4,1890,No Shadow,33.802705,22.693443,32.694262,26.522951,41.699016,32.368033,42.568852,35.908197
...,...,...,...,...,...,...,...,...,...,...
126,2012,Full Shadow,37.510000,30.600000,38.600000,34.300000,50.410000,43.400000,56.300000,47.700000
127,2013,No Shadow,34.770000,25.300000,33.400000,27.400000,40.910000,32.700000,37.300000,33.900000
128,2014,Full Shadow,32.130000,21.000000,27.100000,22.800000,40.510000,26.000000,38.000000,30.300000
129,2015,Full Shadow,32.990000,12.100000,23.400000,16.100000,45.390000,27.800000,41.600000,31.600000
130,2016,No Shadow,39.470000,28.100000,36.900000,30.800000,47.500000,38.800000,49.500000,43.400000

In [136]:
data_df

,Year,Punxsutawney Phil,February Average Temperature,February Average Temperature (Northeast),February Average Temperature (Midwest),February Average Temperature (Pennsylvania),March Average Temperature,March Average Temperature (Northeast),March Average Temperature (Midwest),March Average Temperature (Pennsylvania)
0,1886,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1887,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1888,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1889,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1890,No Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
126,2012,Full Shadow,37.51,30.6,38.6,34.3,50.41,43.4,56.3,47.7
127,2013,No Shadow,34.77,25.3,33.4,27.4,40.91,32.7,37.3,33.9
128,2014,Full Shadow,32.13,21.0,27.1,22.8,40.51,26.0,38.0,30.3
129,2015,Full Shadow,32.99,12.1,23.4,16.1,45.39,27.8,41.6,31.6
130,2016,No Shadow,39.47,28.1,36.9,30.8,47.50,38.8,49.5,43.4

#### Question 3 - Is your proposed method from Question 2 appropriate in this case? Why or why not?

I used the approach of of taking the average from eaach column and replacing the empty values with the average. It isn't a bad approach in this case because you are trying to correlate what type of shadow the groundhog sees due to the temperture across america. Taking the average in this case will not affect the study even though I would think that the better solution would be to completely delete the rows affected since there are no records of the actual temperatures especially if your trying to build a correlation.

#### Question 4 - Using the original dataframe (unchanged from Questoins 2, 3), create a mapping for the "Punxsutawney Phil" column which changes the categories into numerical quantities. For example: 'No Record' can be 0, 'No Shadow' can be 1, 'Partial Shadow' can be 2, and 'Full Shadow' can be 3. You should create the mapping *and* apply it to the data set by adding a new column called "Shadow".

In [137]:
data_df['Shadow'] = pd.factorize(data_df['Punxsutawney Phil'])[0]
data_df.head(60)

,Year,Punxsutawney Phil,February Average Temperature,February Average Temperature (Northeast),February Average Temperature (Midwest),February Average Temperature (Pennsylvania),March Average Temperature,March Average Temperature (Northeast),March Average Temperature (Midwest),March Average Temperature (Pennsylvania),Shadow
0,1886,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1887,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1888,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1889,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1890,No Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,1891,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,1892,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,1893,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,1894,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,1895,No Record,26.60,15.6,21.9,17.0,39.97,27.6,40.2,31.3,0
10,1896,No Record,35.04,22.2,33.5,26.6,38.03,25.3,36.9,27.8,0
11,1897,No Record,33.39,23.6,34.7,27.9,38.79,32.0,44.0,36.9,0
12,1898,Full Shadow,35.37,24.8,33.3,26.7,41.05,38.0,46.0,42.0,1
13,1899,No Record,25.50,18.1,22.2,20.0,37.63,29.3,38.4,34.0,0
14,1900,Full Shadow,30.76,21.4,27.5,24.1,41.27,26.0,37.9,29.3,1
15,1901,Full Shadow,29.86,16.0,26.2,18.9,40.71,30.8,41.9,35.1,1
16,1902,No Record,31.46,20.1,23.6,21.0,41.58,37.1,43.9,38.8,0
17,1903,Full Shadow,28.42,24.5,31.3,28.0,42.21,40.4,47.7,44.5,1
18,1904,Full Shadow,31.59,15.0,28.2,19.2,41.76,29.8,42.8,34.0,1
19,1905,Full Shadow,26.94,15.2,22.2,18.1,45.12,31.4,47.2,36.9,1
20,1906,Full Shadow,33.69,22.0,30.7,25.3,36.10,25.7,33.9,29.1,1
21,1907,Full Shadow,35.46,15.2,31.5,20.1,45.70,33.3,50.2,39.5,1
22,1908,Full Shadow,33.01,18.4,31.2,22.1,43.92,32.7,47.1,38.4,1
23,1909,Full Shadow,35.02,26.4,37.2,32.9,40.35,29.6,41.1,33.1,1
24,1910,Full Shadow,29.30,20.6,28.5,23.8,49.44,37.8,51.9,42.6,1
25,1911,Full Shadow,33.66,21.4,37.5,28.5,44.02,28.4,42.9,32.8,1
26,1912,Full Shadow,31.08,18.6,25.8,21.1,35.76,27.7,35.2,31.5,1
27,1913,Full Shadow,29.50,20.2,29.6,25.0,38.71,35.9,41.1,40.0,1
28,1914,Full Shadow,29.52,14.5,26.3,18.7,40.75,29.6,39.0,31.7,1
29,1915,Full Shadow,35.94,26.7,37.6,30.6,36.95,28.3,34.9,30.3,1
30,1916,Full Shadow,33.03,18.9,30.1,22.8,42.15,24.2,40.2,28.2,1
31,1917,Full Shadow,30.09,17.8,29.1,23.0,38.35,31.2,42.6,35.4,1
32,1918,Full Shadow,33.82,19.8,34.1,25.7,45.75,32.9,48.2,39.3,1
33,1919,Full Shadow,32.25,25.4,34.1,29.6,40.89,34.8,43.9,38.6,1
34,1920,Full Shadow,33.69,19.6,31.5,23.0,40.28,32.7,42.9,36.7,1
35,1921,Full Shadow,36.90,25.1,37.6,30.0,46.63,40.6,51.6,45.4,1
36,1922,Full Shadow,31.95,24.2,35.7,30.1,40.42,33.8,44.1,37.1,1
37,1923,Full Shadow,29.57,16.2,29.1,22.1,38.30,27.9,40.1,34.3,1
38,1924,Full Shadow,35.19,18.3,31.7,23.9,37.18,31.3,37.5,33.5,1
39,1925,Full Shadow,38.30,29.2,38.7,32.8,44.24,35.5,45.0,38.1,1
40,1926,Full Shadow,37.67,20.5,36.3,25.8,39.65,25.9,36.3,30.2,1
41,1927,Full Shadow,37.90,26.2,40.4,32.0,42.26,35.2,44.6,39.2,1
42,1928,Full Shadow,34.34,22.6,34.2,27.3,43.12,30.2,42.0,34.0,1
43,1929,Full Shadow,26.92,21.7,26.2,24.7,43.56,36.2,47.5,41.0,1
44,1930,Full Shadow,40.10,26.1,41.4,32.2,40.41,31.7,40.8,35.1,1
45,1931,Full Shadow,37.94,24.2,38.0,29.0,39.42,32.9,37.7,33.7,1
46,1932,Full Shadow,36.70,25.7,41.0,32.6,37.36,28.1,36.3,30.8,1
47,1933,Full Shadow,29.59,25.8,32.3,28.4,41.83,30.1,41.5,33.8,1
48,1934,No Shadow,34.32,10.4,27.2,15.2,42.78,29.2,38.8,32.1,2
49,1935,Full Shadow,36.01,21.1,35.0,25.8,43.61,34.1,48.8,40.0,1
50,1936,Full Shadow,25.23,15.6,24.0,18.3,43.43,37.4,46.1,39.4,1
51,1937,Full Shadow,31.73,26.3,32.2,28.5,38.84,27.6,38.2,31.4,1
52,1938,Full Shadow,36.00,26.0,40.2,31.4,45.01,35.0,49.6,40.1,1
53,1939,Full Shadow,29.98,24.9,34.0,30.2,42.51,29.3,44.4,35.6,1
54,1940,Full Shadow,33.85,22.3,31.9,26.3,41.52,27.0,39.4,29.5,1
55,1941,Full Shadow,33.53,22.0,29.4,23.6,39.20,26.7,36.8,28.9,1
56,1942,Partial Shadow,30.74,20.1,29.7,23.2,41.31,35.7,44.1,37.8,3
57,1943,No Record,36.28,23.9,35.4,27.6,38.50,30.5,38.5,34.7,0
58,1944,Full Shadow,34.50,22.4,36.3,27.5,38.50,28.9,39.8,32.7,1
59,1945,Full Shadow,35.28,23.6,33.9,27.1,45.54,41.6,51.9,46.2,1

#### Question 5 - For all rows which have no record, remove the rows which have empty values in all of the quantitative columns. (Only 6 should be removed.)

In [138]:
noRecord= data_df.loc[data_df['Shadow']==0]
quant = noRecord.iloc[:,2:10]
quant
nullIdx=quant.index[quant.isnull().all(1)]
for idx in nullIdx:
    data_df=data_df.drop(idx)
data_df

,Year,Punxsutawney Phil,February Average Temperature,February Average Temperature (Northeast),February Average Temperature (Midwest),February Average Temperature (Pennsylvania),March Average Temperature,March Average Temperature (Northeast),March Average Temperature (Midwest),March Average Temperature (Pennsylvania),Shadow
1,1887,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1888,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1890,No Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
9,1895,No Record,26.60,15.6,21.9,17.0,39.97,27.6,40.2,31.3,0
10,1896,No Record,35.04,22.2,33.5,26.6,38.03,25.3,36.9,27.8,0
...,...,...,...,...,...,...,...,...,...,...,...
126,2012,Full Shadow,37.51,30.6,38.6,34.3,50.41,43.4,56.3,47.7,1
127,2013,No Shadow,34.77,25.3,33.4,27.4,40.91,32.7,37.3,33.9,2
128,2014,Full Shadow,32.13,21.0,27.1,22.8,40.51,26.0,38.0,30.3,1
129,2015,Full Shadow,32.99,12.1,23.4,16.1,45.39,27.8,41.6,31.6,1
130,2016,No Shadow,39.47,28.1,36.9,30.8,47.50,38.8,49.5,43.4,2


#### Question 6 - For the remaining rows which have no record (but the other columns *are* populated), determine an appropriate method for inputting the value for this column. Explain your reasoning, and show your work below (using pandas).

In [139]:
#Also a part of my other solution
#numbers=data_df.iloc[:,2:11]
#TypeAvg=numbers.groupby('Shadow').mean().reset_index()
#TypeAvg

In [140]:
#Me and Professor talked about a solution like this but it wasn't working 
#years = noRecord['Year'].values #this should be the years with norecord but have average values
#print(years)
#new_rows = []
#col_names = list(data_df.columns)
#year_col = col_names.pop(1) # this should remove the Year column name
#col_names.append(year_col) # put the Year column at the end of the list, you'll see why below:
#col_names
#iterate over all years
#for year in years:
    #iterate over the 4 rows in TypeAvg - this produces 4 copies of the row for each year
    #for index, row in TypeAvg.iterrows():
        #new_row = row.copy() #get a copy of the row as a pandas Series
        #new.row=new_row.append(pd.Series(year)) #this puts the year at the *end* of the Series
        #new_rows.append(new_row)
#new_rows
#subset = pd.DataFrame(new_rows, columns=col_names)
#subset

In [143]:
Often=data_df['Shadow'].mode()
Type=(data_df['Punxsutawney Phil'].loc[data_df['Shadow']==Often[0]])[1]
for idx in data_df.index:
    shadow=data_df.loc[idx, 'Shadow']
    data_df.loc[(data_df['Shadow']==0), 'Punxsutawney Phil'] = Type
    data_df.loc[(data_df['Shadow']==0), 'Shadow'] = Often[0]
data_df

,Year,Punxsutawney Phil,February Average Temperature,February Average Temperature (Northeast),February Average Temperature (Midwest),February Average Temperature (Pennsylvania),March Average Temperature,March Average Temperature (Northeast),March Average Temperature (Midwest),March Average Temperature (Pennsylvania),Shadow
1,1887,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1888,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1890,No Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
9,1895,Full Shadow,26.60,15.6,21.9,17.0,39.97,27.6,40.2,31.3,1
10,1896,Full Shadow,35.04,22.2,33.5,26.6,38.03,25.3,36.9,27.8,1
...,...,...,...,...,...,...,...,...,...,...,...
126,2012,Full Shadow,37.51,30.6,38.6,34.3,50.41,43.4,56.3,47.7,1
127,2013,No Shadow,34.77,25.3,33.4,27.4,40.91,32.7,37.3,33.9,2
128,2014,Full Shadow,32.13,21.0,27.1,22.8,40.51,26.0,38.0,30.3,1
129,2015,Full Shadow,32.99,12.1,23.4,16.1,45.39,27.8,41.6,31.6,1
130,2016,No Shadow,39.47,28.1,36.9,30.8,47.50,38.8,49.5,43.4,2

Explain:
    I attempted to do a complex solution but some things were not working so I took a simpler route(according to professor Watson). My approach to this would be to take the Category that occured the most over the years of data and replace the No record with the most consistant record which is this case was Full Shadow.

#### Question 7 - If we are trying to write a machine learning program which predicts the type of shadow for the year, which column(s) should be the independent variables X? Why? 

#### Use pandas to assign a variable X to be all of the rows of the data set with the column(s) that represent the independent variables.

Independent Variables would include February Average Temperature, February Average Temperature (Northeast), February Average Temperature (Midwest), February Average Temperature (Pennsylvania), March Average Temperature, March Average Temperature (Northeast), March Average Temperature (Midwest), March Average Temperature (Pennsylvania), Year

These are all independent variables because they are basically the predictors or the variables that are used to make the prediction.

In [168]:
df= data_df[['February Average Temperature', 'February Average Temperature (Northeast)', 'February Average Temperature (Midwest)', 'February Average Temperature (Pennsylvania)', 'March Average Temperature', 'March Average Temperature (Northeast)', 'March Average Temperature (Midwest)', 'March Average Temperature (Pennsylvania)']]
idepen= df.join(data_df['Year'])
X = idepen.iloc[:, 0:9].values

In [169]:
print(X)

[[    nan     nan     nan ...     nan     nan 1887.  ]
 [    nan     nan     nan ...     nan     nan 1888.  ]
 [    nan     nan     nan ...     nan     nan 1890.  ]
 ...
 [  32.13   21.     27.1  ...   38.     30.3  2014.  ]
 [  32.99   12.1    23.4  ...   41.6    31.6  2015.  ]
 [  39.47   28.1    36.9  ...   49.5    43.4  2016.  ]]

#### Question 8 - If we are trying to write a machine learning program which predicts the type of shadow for the year, which column(s) should be the dependent variables Y? Why?  

#### Use pandas to assign a variable Y to be all of the rows of the data set with the column(s) that represent the dependent variables.

Dependent Variables would include either Punxsutawney Phil, Shadow which are baasically the same thing

In [177]:
dep = data_df[['Punxsutawney Phil','Shadow']]
y=dep.iloc[:, 0:2].values

In [178]:
print(y)

[['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Partial Shadow' 3]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]]

#### Question 9 - Using the train_test_split function from the sklearn module, use a 70/30 split validation to split the data set into train and test. If you follow the example at the following link: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

Note: It's common practice to use the following variable names for unpacking the result:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=(YOUR VALUE))

sklearn will create a proper split where the following statements hold true:
X_train is your train set independent variables
Y_train is your train set dependent variables
X_test is your test set independent variables
Y_test is your test set dependent variables

In [179]:
from sklearn.model_selection import train_test_split

In [191]:
X_train, X_test, y_train, y_test =train_test_split(X, y, train_size=0.70,test_size=0.30, random_state=125)

In [192]:
print ("X_train: ", X_train)
print ("y_train: ", y_train)
print("X_test: ", X_test)
print ("y_test: ", y_test)

X_train:  [[  32.79   20.     30.2    23.8    43.3    32.9    44.8    37.2  2003.  ]
 [  33.98   26.     36.1    31.5    41.49   30.2    39.3    33.3  2001.  ]
 [  31.24   23.2    31.9    26.5    43.     34.1    44.1    37.5  1966.  ]
 [  33.66   21.4    37.5    28.5    44.02   28.4    42.9    32.8  1911.  ]
 [  34.92   19.8    34.8    25.4    37.9    32.7    38.6    34.2  1962.  ]
 [  37.36   20.6    32.6    23.9    43.34   36.2    45.6    39.7  1995.  ]
 [  36.28   23.9    35.4    27.6    38.5    30.5    38.5    34.7  1943.  ]
 [  36.86   26.2    35.9    29.8    42.4    35.7    43.5    38.7  1983.  ]
 [  39.7    25.7    39.5    30.9    44.71   30.     44.     34.5  1992.  ]
 [  29.5    20.2    29.6    25.     38.71   35.9    41.1    40.   1913.  ]
 [  34.32   10.4    27.2    15.2    42.78   29.2    38.8    32.1  1934.  ]
 [  35.46   15.2    31.5    20.1    45.7    33.3    50.2    39.5  1907.  ]
 [  33.85   22.3    31.9    26.3    41.52   27.     39.4    29.5  1940.  ]
 [  32.76   24.7    33.5    28.8    38.7    30.4    38.6    33.7  1975.  ]
 [  31.87   19.4    32.4    24.1    44.51   31.6    42.9    33.8  1994.  ]
 [  39.47   28.1    36.9    30.8    47.5    38.8    49.5    43.4  2016.  ]
 [  30.87   24.8    28.4    27.1    43.48   34.5    46.3    38.3  1985.  ]
 [  30.09   17.8    29.1    23.     38.35   31.2    42.6    35.4  1917.  ]
 [  32.52   22.1    31.8    26.2    35.44   30.2    35.1    32.1  1965.  ]
 [  26.94   15.2    22.2    18.1    45.12   31.4    47.2    36.9  1905.  ]
 [  29.57   16.2    29.1    22.1    38.3    27.9    40.1    34.3  1923.  ]
 [    nan     nan     nan     nan     nan     nan     nan     nan 1888.  ]
 [  41.41   30.     41.1    33.6    39.25   32.2    40.2    35.   1954.  ]
 [  36.05   28.6    37.7    33.     44.67   32.1    45.8    37.6  1997.  ]
 [  31.14   17.5    30.5    23.5    41.79   29.8    39.5    32.8  1993.  ]
 [  34.5    22.4    36.3    27.5    38.5    28.9    39.8    32.7  1944.  ]
 [  29.3    20.6    28.5    23.8    49.44   37.8    51.9    42.6  1910.  ]
 [  33.82   19.8    34.1    25.7    45.75   32.9    48.2    39.3  1918.  ]
 [  33.01   18.4    31.2    22.1    43.92   32.7    47.1    38.4  1908.  ]
 [  33.03   18.9    30.1    22.8    42.15   24.2    40.2    28.2  1916.  ]
 [  33.39   23.6    34.7    27.9    38.79   32.     44.     36.9  1897.  ]
 [  37.67   20.5    36.3    25.8    39.65   25.9    36.3    30.2  1926.  ]
 [  32.41   18.     26.1    20.1    47.66   32.7    50.1    37.4  2007.  ]
 [  35.69   23.6    33.4    27.     39.02   29.7    37.2    31.8  1996.  ]
 [  31.08   18.6    25.8    21.1    35.76   27.7    35.2    31.5  1912.  ]
 [  38.71   31.6    40.9    35.8    41.34   36.2    42.9    39.7  1998.  ]
 [  38.07   27.3    38.6    31.4    41.27   33.6    41.5    36.1  1957.  ]
 [  35.94   26.7    37.6    30.6    36.95   28.3    34.9    30.3  1915.  ]
 [  29.17   23.     28.6    27.1    42.67   31.8    44.     36.7  1989.  ]
 [  32.85   20.     26.6    23.     39.36   31.     38.5    33.3  1980.  ]
 [  32.88   18.2    29.1    22.6    43.63   29.1    45.6    34.4  1967.  ]
 [  34.34   22.6    34.2    27.3    43.12   30.2    42.     34.   1928.  ]
 [  35.02   26.4    37.2    32.9    40.35   29.6    41.1    33.1  1909.  ]
 [  37.9    26.2    40.4    32.     42.26   35.2    44.6    39.2  1927.  ]
 [  40.1    26.1    41.4    32.2    40.41   31.7    40.8    35.1  1930.  ]
 [  33.57   24.     33.1    27.     47.41   35.9    47.     39.5  2004.  ]
 [  30.52   26.9    29.8    28.6    35.91   24.2    28.5    24.5  1960.  ]
 [  35.04   22.2    33.5    26.6    38.03   25.3    36.9    27.8  1896.  ]
 [  33.58   21.8    32.7    25.5    44.29   39.2    49.6    42.9  1973.  ]
 [  33.69   23.7    30.4    26.8    42.4    33.2    43.     37.2  1988.  ]
 [  29.59   25.8    32.3    28.4    41.83   30.1    41.5    33.8  1933.  ]
 [  33.69   19.6    31.5    23.     40.28   32.7    42.9    36.7  1920.  ]
 [  25.5    18.1    22.2    20.     37.63   29.3    38.4    34.   1899.  ]
 [  25.23   15.6    24.     18.3    43.43   37.4    46.1    39.4  1936.  ]
 [  29.98   24.9    34.     30.2    42.51   29.3    44.4    35.6  1939.  ]
 [  32.92   18.4    27.3    22.3    43.56   34.8    43.8    38.4  1968.  ]
 [  39.49   28.2    39.5    31.7    42.8    33.     39.8    34.2  1999.  ]
 [  26.6    15.6    21.9    17.     39.97   27.6    40.2    31.3  1895.  ]
 [  29.86   16.     26.2    18.9    40.71   30.8    41.9    35.1  1901.  ]
 [  37.38   31.2    38.6    33.8    40.08   26.6    36.8    29.5  1984.  ]
 [  31.98   17.9    24.5    20.4    37.67   33.3    37.3    33.7  1958.  ]
 [  39.78   27.2    40.1    31.6    46.04   39.1    47.7    42.6  2000.  ]
 [  34.77   25.3    33.4    27.4    40.91   32.7    37.3    33.9  2013.  ]
 [  35.19   18.3    31.7    23.9    37.18   31.3    37.5    33.5  1924.  ]
 [  36.59   30.3    34.1    30.7    42.85   33.     41.7    34.1  1981.  ]
 [  30.74   20.1    29.7    23.2    41.31   35.7    44.1    37.8  1942.  ]
 [  39.56   28.8    41.1    33.5    42.31   35.2    47.9    40.8  1976.  ]
 [    nan     nan     nan     nan     nan     nan     nan     nan 1887.  ]
 [  35.55   21.6    34.7    27.4    38.84   27.3    38.7    30.8  1950.  ]
 [  35.28   23.6    33.9    27.1    45.54   41.6    51.9    46.2  1945.  ]
 [  31.95   24.2    35.7    30.1    40.42   33.8    44.1    37.1  1922.  ]
 [  32.25   25.4    34.1    29.6    40.89   34.8    43.9    38.6  1919.  ]
 [  37.38   21.8    36.9    26.8    42.57   35.5    45.8    39.   1987.  ]
 [  32.13   21.     27.1    22.8    40.51   26.     38.     30.3  2014.  ]
 [  36.77   26.2    35.9    29.6    42.87   34.1    45.7    38.2  2009.  ]
 [  26.92   21.7    26.2    24.7    43.56   36.2    47.5    41.   1929.  ]
 [  32.27   25.6    36.1    29.8    40.75   27.9    42.1    32.9  1956.  ]
 [  34.54   26.     33.6    28.9    38.55   33.4    40.4    36.1  1951.  ]
 [  36.01   21.1    35.     25.8    43.61   34.1    48.8    40.   1935.  ]
 [  27.99   15.6    20.3    17.2    41.31   28.8    37.3    31.9  1978.  ]
 [  32.81   23.7    33.     26.7    36.03   30.1    36.2    32.7  1969.  ]
 [  36.39   29.7    36.8    33.9    39.54   34.7    41.5    38.2  2002.  ]
 [  32.49   20.6    33.7    27.     41.45   30.6    41.4    34.1  1959.  ]
 [  28.13   13.9    22.9    16.4    42.06   37.     43.7    39.4  1979.  ]
 [  36.7    28.     39.9    33.9    44.74   35.7    46.6    40.2  1990.  ]
 [  36.9    25.1    37.6    30.     46.63   40.6    51.6    45.4  1921.  ]
 [  35.87   28.     37.4    31.8    43.75   34.8    44.5    37.9  1953.  ]]
y_train:  [['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Partial Shadow' 3]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]]
X_test:  [[  37.94   24.2    38.     29.     39.42   32.9    37.7    33.7  1931.  ]
 [  33.55   20.1    31.5    23.2    44.04   29.3    41.9    33.1  1972.  ]
 [  34.7    25.4    32.1    27.7    41.86   31.6    42.     35.6  2008.  ]
 [  31.91   28.     36.3    32.9    40.77   33.5    42.     36.8  1949.  ]
 [  36.7    25.7    41.     32.6    37.36   28.1    36.3    30.8  1932.  ]
 [  36.03   23.2    31.5    26.1    43.18   38.4    47.4    41.2  1977.  ]
 [  33.69   22.     30.7    25.3    36.1    25.7    33.9    29.1  1906.  ]
 [  31.05   24.2    33.4    27.3    40.06   32.3    43.1    37.2  1955.  ]
 [  34.83   26.2    33.7    29.8    42.62   34.     43.8    37.   2006.  ]
 [  31.77   21.6    30.9    23.6    38.82   33.6    41.4    36.9  1964.  ]
 [  34.12   16.2    26.3    18.4    43.72   33.1    46.     37.5  1963.  ]
 [  37.94   26.2    38.1    30.1    42.31   29.7    40.8    32.3  2005.  ]
 [  38.3    29.2    38.7    32.8    44.24   35.5    45.     38.1  1925.  ]
 [  33.48   23.9    31.8    27.5    39.65   29.9    38.9    32.5  1971.  ]
 [  33.53   22.     29.4    23.6    39.2    26.7    36.8    28.9  1941.  ]
 [  32.59   22.9    30.4    26.9    42.03   31.5    43.5    34.9  1982.  ]
 [  35.46   26.4    37.5    30.6    37.69   32.     40.6    34.6  1952.  ]
 [  33.04   24.1    34.4    28.6    43.07   33.     44.2    36.3  2011.  ]
 [  35.37   24.8    33.3    26.7    41.05   38.     46.     42.   1898.  ]
 [    nan     nan     nan     nan     nan     nan     nan     nan 1890.  ]
 [  31.46   20.1    23.6    21.     41.58   37.1    43.9    38.8  1902.  ]
 [  35.35   22.5    31.3    25.3    38.5    29.8    38.9    31.6  1970.  ]
 [  34.88   21.4    36.5    27.4    46.78   41.6    52.4    45.3  1946.  ]
 [  37.42   24.6    37.3    28.9    43.47   32.6    45.1    37.1  1961.  ]
 [  36.     26.     40.2    31.4    45.01   35.     49.6    40.1  1938.  ]
 [  35.85   22.3    34.3    26.7    46.18   34.7    45.     38.   1986.  ]
 [  37.51   30.6    38.6    34.3    50.41   43.4    56.3    47.7  2012.  ]
 [  29.52   14.5    26.3    18.7    40.75   29.6    39.     31.7  1914.  ]
 [  30.76   21.4    27.5    24.1    41.27   26.     37.9    29.3  1900.  ]
 [  31.62   19.7    32.9    25.6    38.71   32.7    43.4    38.3  1948.  ]
 [  31.59   15.     28.2    19.2    41.76   29.8    42.8    34.   1904.  ]
 [  39.81   28.7    37.4    32.4    43.32   36.1    46.1    39.5  1991.  ]
 [  32.99   12.1    23.4    16.1    45.39   27.8    41.6    31.6  2015.  ]
 [  31.8    25.9    28.2    25.8    43.57   39.6    44.6    42.   2010.  ]
 [  34.74   21.7    34.5    26.2    44.38   32.5    46.3    36.9  1974.  ]
 [  28.42   24.5    31.3    28.     42.21   40.4    47.7    44.5  1903.  ]
 [  31.73   26.3    32.2    28.5    38.84   27.6    38.2    31.4  1937.  ]
 [  31.41   20.5    25.7    21.7    38.75   29.7    34.8    30.3  1947.  ]]
y_test:  [['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['No Shadow' 2]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]
 ['Full Shadow' 1]]

#### Question 10 - Should the number of rows in X_train == number of rows in Y_train? Also, should the number of rows in X_test == Y_test? Why or why not? Validate your answer with code below:

The Number of rows in X train should be equal to the number of rows in Y-train because since the input of X and Y are the same amount and then the train set is taken as 70% then the 70% is taken from both making them the same amount of rows.

The same concept is then used for X_test and Y_test because it is exactly 30% of the entire dataset as well.

In [193]:
print(len(X))

125

In [194]:
print(len(Y))

125

In [195]:
print(len(X_train))

87

In [197]:
print(len(y_train))

87

In [198]:
print(len(X_test))

38

In [199]:
print(len(y_test))

38